absl-py==0.12.0
arrow==1.0.2
astunparse==1.6.3
async-timeout==3.0.1
attrs==20.3.0
cmudict==0.4.5
dash-core-components==1.15.0
dash-html-components==1.1.2
dash-renderer==1.9.0
dash-table==4.11.2
dash==1.19.0
datetime==4.3
discord-webhook==0.12.0
discord.py==1.6.0
discord==1.0.1
discordwebhook==1.0.1
embed==0.1.0
flask-compress==1.9.0
flask==1.1.2
flatbuffers==1.12
jinja2==2.11.3
keras-preprocessing==1.1.2
markdown==3.3.4
markupsafe==1.1.1
multidict==5.1.0
numpy==1.19.5
oauthlib==3.1.0
opt-einsum==3.3.0
pandas==1.2.3
pathlib==1.0.1
pip==21.0.1
plotly==4.14.3
pronouncing==0.2.0
protobuf==3.15.6
pyasn1-modules==0.2.8
pyasn1==0.4.8
pynput==1.7.3
pyobjc-core==7.1
pyobjc-framework-cocoa==7.1
pyobjc-framework-quartz==7.1
pysocks==1.7.1
python-dateutil==2.8.1
pytz==2021.1
tensorboard-plugin-wit==1.8.0
tensorboard==2.4.1
tensorflow-estimator==2.4.0
tensorflow==2.5.1
termcolor==1.1.0
time-adapters==0.0.2
tweepy==3.10.0
typing-extensions==3.7.4.3
webencodings==0.5.1
werkzeug==1.0.1
wheel==0.36.2
wrapt==1.12.1
yarl==1.6.3
zope.interface==5.2.0
